<!DOCTYPE html>
<head>
  <title>{{title}}</title>
  <link href="/img/joe.xoxomoon.png?f791fc8d95ac4355fcb14cd94346320d" rel="shortcut icon">
</head>
<body>
  <h1><a href="/">joe.xoxomoon.com</a></h1>
  <p>Just your typical preterite* immigrant combat veteran with a literature degree.</p>
  <small>* In Pynchon&#x27;s religious sense, not the grammatical one.</small>
  {{{body}}}
</body>
