<!DOCTYPE html>
<head>
  <title>{{title}} | joe.xoxomoon.com</title>
  <meta charset="utf-8">
  <link href="/img/joe.xoxomoon.png" rel="shortcut icon">
  <link href="/style.css" rel="stylesheet" type="text/css">
</head>
<body>
  <header>
    <h1><a href="/">joe moon</a></h1>
  </header>
  {{{body}}}
  <footer>
    &copy; 2018 Joe Moon
    <nav>
      <ul>
        <li><a title="email" href="mailto:joe@xoxomoon.com">email</a></li>
        <li>
          <a title="github" href="https://github.com/sodiumjoe">github</a>
        </li>
        <li>
          <a title="twitter" href="https://twitter.com/sodiumjoe">twitter</a>
        </li>
        <li><a title="blog" href="/blog">blog</a></li>
      </ul>
    </nav>
  </footer>
</body>
