<!DOCTYPE html>
<head>
  <title>{{title}} | joe.xoxomoon.com</title>
  <meta charset="utf-8">
  <link href="/img/joe.xoxomoon.png" rel="icon" type="image/png">
  <style>html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}h1{font-size:2em;margin:.67em 0}pre{font-family:monospace,monospace;font-size:1em}small{font-size:75%}h1>a{text-decoration:none}h1,h2,h3{font-weight:400}a{color:#2980b9}a:hover{color:#1eaedb}ol,p,small,ul{font-family:Georgia,Times New Roman,Times,serif}ul{padding:0;list-style-type:circle}body{font-family:Helvetica Neue,Helvetica,Arial,sans-serif;color:#222;max-width:560px;margin:3em}header{border-bottom:1px solid #bdc3c7}.lead{padding-bottom:1em}.lead>p{margin-bottom:0;font-size:1.25em}.lead>small{margin-top:0}article{line-height:1.6}footer{border-top:1px solid #bdc3c7;padding-top:1em}nav{display:inline}nav>ul{list-style-type:none;display:inline}nav>ul>li{display:inline}</style>
</head>
<body>
  <header>
    <h1><a href="/">joe moon</a></h1>
  </header>
  {{{body}}}
  <footer>
    &copy; 2018 Joe Moon
    <nav>
      <ul>
        <li><a title="email" href="mailto:joe@xoxomoon.com">email</a></li>
        <li>
          <a title="github" href="https://github.com/sodiumjoe">github</a>
        </li>
        <li>
          <a title="twitter" href="https://twitter.com/sodiumjoe">twitter</a>
        </li>
        <li><a title="blog" href="/blog">blog</a></li>
      </ul>
    </nav>
  </footer>
</body>
